body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main{
  min-height: 80vh;
}

/* TODO, this shit looks wack, but I might look into it again */
/* h3 {
  padding: 1rem 0;
} */

/* 0.1rem is a CSS unit that stands for "0.1 root em."
by default the rem is 16px
 -> 0.1rem = 0.1 * 16px = 1.6px
 */
.rating span {
  margin: 0.1rem;
}